# -------- Maven / Java --------
target/
*.log
hs_err_pid*
replay_pid*

# Garder le Maven Wrapper (NE PAS l’ignorer)
# Assure-toi de versionner ces fichiers :
#   .mvn/wrapper/maven-wrapper.jar
#   .mvn/wrapper/maven-wrapper.properties
#   mvnw
#   mvnw.cmd

# -------- IDEs --------
# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# -------- OS --------
.DS_Store
Thumbs.db

# -------- Docker (volumes locaux à ignorer) --------
docker/data/
docker/prometheus/data/
docker/grafana/data/
